._spinner-box_07b50{position:relative;min-height:3rem}._spinner-cover_07b50{position:absolute;left:0;top:0;display:-webkit-box;display:flex;-webkit-box-pack:center;justify-content:center;-webkit-box-align:center;align-items:center;background:#fff;width:0;height:0;opacity:0;-webkit-transition:.25s;transition:.25s}._spinner-cover_07b50._active_07b50{width:100%;height:100%;opacity:1}._table_de41e td img,._table_de41e th img{max-height:10vh}._cell-center_de41e td,._cell-center_de41e th{text-align:center;vertical-align:middle}
/*# sourceMappingURL=source.a5f819ca.css.map */